body{
    padding: opx;
    margin: opx;
    background-color: white;
    font-family: sans-serif;
    background-image: url('../static/login1.jpg');
    background-size: cover;
}

.box{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    width: 400px;
    background-color: rgb(181, 230, 247,0.5);
    text-align: center;
    transform: translate(145%,30%);
}

input{
    font-size: 25px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    margin: 10px;
    width: 350px;
    height: 30px;
}

.forgot{
    color:  rgb(81, 124, 255);
    text-decoration: none;
}

.btn-primary{
    border-radius: 5px;
    border-style: none;
    width: 350px;
    height: 40px;
    background-color: crimson;
}

.submit button{
    transition-duration: 0.4s;
}

.submit button :hover{
    color: crimson;
    background-color: aliceblue;
}

p{
    color:  rgb(38, 46, 46);
    font-size: large;
}

p a{
    color:  rgb(81, 124, 255);
    text-decoration: none;
}

.fb button{
    font-size: 17px;
    color: white;
    background-color: rgb(62, 62, 204);
    border-style: none;
    margin:10px;
    width: 350px;
    height: 40px;
}

.google button{
    font-size: 17px;
    color: black;
    background-color: white;
    border-style: none;
    margin:10px;
    width: 350px;
    height: 40px;
}
