<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/adcdf23364.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>signup</title>
</head>
<body>

    <div class="box">
      <form method="POST" action="">
        {% csrf_token %}
        <h1>Signup</h1>
        <input
          type="text"
          name="username"
          class="username"
          id="username"
          placeholder="Enter username"
          required
        /><br />
        <input
          type="text"
          name="email"
          class="email"
          id="email"
          placeholder="Enter email"
          required
        /><br />
        <input
          type="text"
          name="pass1"
          class="pass1"
          id="pass1"
          placeholder="Enter password"
          required
        /><br />
        <input
          type="text"
          name="pass2"
          class="pass2"
          id="pass2"
          placeholder="Confirm password"
          required
        /><br />
        <button>Signup</button>
      </form>
      <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
      </p>
      <hr>
      <div class="fb">
        <a href=""><button><i class="fa-brands fa-square-facebook"></i>     Login with Facebook</button></a>
      </div>
      <div class="google">
        <a href=""><button><i class="fa-brands fa-google"></i>     Login with Google</button></a>
      </div>
    </div>
    </div>
  </body>
</html>



</body>
</html>